body {
	background-image: url(images/bg.png);
	padding: 20px;
}
td.content {
	background-color: #FFFFFF;
	border: thin solid #FF6666;
	padding: 8px;
}

td.disclaimer { background-color: #F0F8FF;  border: 1px solid #87CEFA;  color: #4169E1;  padding: 8px;  text-align: center;     }

.heading { font-size: larger;  font-weight: bold;  }


td.topbar {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
	padding: 2px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
}
a {
	text-decoration: none;
	color: #FF0000;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
	color: #FF99FF;
}
